@model IEnumerable<KanbanBoardMandatoryV2.Models.Userstory>

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-outline-primary btn-lg btn-block my-3" asp-controller="Userstories" asp-action="Create">Create new userstory</a>
</div>

@if (Model.Count() > 0)
{
<table class="table table-bordered">
    <thead class="text-center">

        <tr>
            <th>
                <h1 class="display-4">To Do</h1>

            </th>
            <th>
                <h1 class="display-4">Doing</h1>

            </th>
        
            <th>
                <h1 class="display-4">Done</h1>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td style="width:25%;">
                @foreach (var story in Model)
                {
@if (story.UserStatus == UserStatus.ToDo)
{
@await Html.PartialAsync("_CardInfoPartial", story)}}
            </td>
            <td style="width:25%;">

                @foreach (var story in Model)
                {
@if (story.UserStatus == UserStatus.Doing)
{
@await Html.PartialAsync("_CardInfoPartial", story)}}

            </td>
          
            <td style="width:25%;">

                @foreach (var story in Model)
                {
@if (story.UserStatus == UserStatus.Done)
{
@await Html.PartialAsync("_CardInfoPartial", story)}}
            </td>
        </tr>


    </tbody>


</table> }
            else
            {
<div class="d-flex justify-content-center">

    <h5 class="display-4">Currently no userstories, create some :)</h5>
</div>}
